<a href="https://colab.research.google.com/github/aylingunay/W-Code-2.0-Veri-Bilimi-ve-Yapay-Zeka-Atolyesi/blob/main/son_%C3%B6dev_AYL%C4%B0N_G%C3%9CNAY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
df = pd.read_csv("/content/drive/MyDrive/BMW_Car_Sales_Classification.csv")
display(df.head())

,Model,Year,Region,Color,Fuel_Type,Transmission,Engine_Size_L,Mileage_KM,Price_USD,Sales_Volume,Sales_Classification
0,5 Series,2016,Asia,Red,Petrol,Manual,3.5,151748,98740,8300,High
1,i8,2013,North America,Red,Hybrid,Automatic,1.6,121671,79219,3428,Low
2,5 Series,2022,North America,Blue,Petrol,Automatic,4.5,10991,113265,6994,Low
3,X3,2024,Middle East,Blue,Petrol,Automatic,1.7,27255,60971,4047,Low
4,7 Series,2020,South America,Black,Diesel,Manual,2.1,122131,49898,3080,Low

In [23]:
df.shape

(50000, 11)

In [25]:
df["Sales_Classification"].value_counts()

Sales_Classification
Low     34754
High    15246
Name: count, dtype: int64

In [26]:
df.groupby("Model")["Sales_Volume"].sum().sort_values(ascending=False).head(5)

Model
7 Series    23786466
i8          23423891
X1          23406060
3 Series    23281303
i3          23133849
Name: Sales_Volume, dtype: int64

In [29]:
avg_price = df["Price_USD"].mean()
avg_engine = df["Engine_Size_L"].mean()
print(f"Average Price: {avg_price}")
print(f"Average Engine Size: {avg_engine}")

Average Price: 75034.6009
Average Engine Size: 3.24718

In [30]:
df.groupby("Region")["Sales_Volume"].mean().sort_values(ascending=False)

Region
Europe           5106.208063
North America    5087.298020
Asia             5083.306955
Middle East      5055.131972
Africa           5036.380952
South America    5035.973579
Name: Sales_Volume, dtype: float64

In [31]:
df.groupby("Transmission")["Sales_Volume"].mean()

Transmission
Automatic    5071.788497
Manual       5063.293194
Name: Sales_Volume, dtype: float64